<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Użytkownik potwierdzony</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        h1 {font-size: 26px; color: #444444 !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; line-height: 1.5;}
        h3 {font-size: 12px; color: #444444 !important; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;}
        p {font-size: 16px; color: #ffffff; font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; line-height: 1.5;}
        table { border: 1px solid #e4e4e4;}
        a {color: #062b67; text-decoration: none; font-weight: bold;}
    </style>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="0095cc">
    <tr>
        <td height="50" align="center"><p>Konto zostało potwierdzone</p></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h1>Konta użytkownika <span th:text="${display_name}">displayName</span> zostało potwierdzone</h1></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="100" align="center"><h3><a th:href="${appurl}">Zaloguj się</a> aby móc kontrolować swoje przychody i wydatki</h3></td>
    </tr>
</table>
</body>
</html>
